{% extends 'home.jinja2' %}
{% block title %}Login{% endblock %}
{% block content %}
    <div class="jumbotron">
        <div class="container text-center">
            <h1>Tracks</h1>
        </div>
    </div>
{% endblock %}
