{% extends 'home.jinja2' %}
{% block title %}About{% endblock %}
{% block content %}
    <div class="jumbotron">
        <div class="container text-center">
            <h1>About</h1>
            <p>Some about this site and me</p>
        </div>
    </div>
    <div class="container-fluid bg-3 text-center">
        <div class="row">
            <div class="col-sm-6">
                <p class="text-primary navbar-brand">About me</p>
                <br>
                Hello, i'm Marcel Zagórski creator this site and big fan F1.
            </div>
            <div class="col-sm-6">
                <p class="text-primary navbar-brand">About site</p><br>
                Welcome on this site. Site was created to follow my progress in esport and karting.
            </div>
        </div>
    </div>
{% endblock %}
