{% extends 'home.jinja2' %}
{% block title %}E1 Gokart{% endblock %}
{% block content %}
    <div class="jumbotron">
        <div class="container text-center">
            <h1>E1 Gokart</h1>
        </div>
    </div>
    <div class="container-fluid bg-3 text-center">
        <p class="text-primary navbar-brand">On track</p><br>
        <div class="row">
            <div class="col-sm-4">
                <p class="text-primary">Best time: {{ best_time }}</p>
            </div>
            <div class="col-sm-4">
                <p class="text-primary">Average time: {{ average }}</p>
            </div>
            <div class="col-sm-4">
                <p class="text-primary">Target time: 56.500</p>
            </div>
        </div>
    </div>
{% endblock %}
